In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
books = pd.read_csv("books_additional.csv")
books.head()

,Semester,Class,Class Number,Section Number,Title,Author(s),Gender,Number Students
0,Spring 2012,Reading & Composition: American Song,English R1A,1,Souls of Black Folk,['W. E. B. Du Bois'],male,16.0
1,Spring 2012,Reading & Composition: American Song,English R1A,1,The American Songbag,['Carl Sandburg'],male,16.0
2,Spring 2012,Reading & Composition: American Song,English R1A,1,American Ballads and Folk SOngs,['Alan Lomax'],male,16.0
3,Spring 2012,Reading & Composition: Apocalypse / Now,English R1A,2,On the Principle of Population,['Thomas Robert Malthus'],male,18.0
4,Spring 2012,Reading & Composition: Apocalypse / Now,English R1A,2,The Road,['Cormac McCarthy'],male,18.0

In [53]:
# Number of male authors per semester (ignoring weight of classes)
genders = books.copy()
genders['Male'] = [1 if g == 'male' else 0 for g in books['Gender']]
genders['Female'] = [1 if g == 'female' else 0 for g in books['Gender']]

drop_cols = ['Class', 'Class Number', 'Section Number', 'Title', 'Author(s)', 'Gender', 'Number Students']
for col in drop_cols:
    del genders[col]

genders = genders.groupby('Semester').sum()
genders

             Male  Female
Semester
Fall 2012     239      71
Fall 2013     240      73
Fall 2014     250      96
Fall 2015     196      86
Fall 2016     179      63
Fall 2017     201      86
Spring 2012   260      94
Spring 2013   148      61
Spring 2014   243      82
Spring 2015   223      84
Spring 2016   217      85
Spring 2017   204      97
Summer 2012    51      18
Summer 2013     7       3
Summer 2014    26       4
Summer 2015    10       3
Summer 2016    13       2
Summer 2017    25       8